---
title: Using Tanzu Build Service
owner: Build Service Team
---

This topic describes how to manage images, builds, secrets, builders, the stack, the store, and projects with Build Service.

See the following topics:

<ul>
    <li>
        <a href="accessing-tbs.html">Accessing Tanzu Build Service</a>
    </li>
    <li>
        <a href="managing-stacks.html">Managing Stacks</a>
    </li>
    <li>
        <a href="managing-stores.html">Managing Stores</a>
    </li>
    <li>
        <a href="managing-builders.html">Managing Builders</a>
    </li>
    <li>
        <a href="managing-secrets.html">Managing Secrets</a>
    </li>
    <li>
        <a href="managing-images.html">Managing Images and Builds</a>
    </li>
    <li>
		<a href="tbs-with-projects.html">Using Tanzu Build Service with Projects</a>
	</li>
</ul>
